main > header > figure {
  height: 30vh;
}

main > header {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

main > header > div {
  height: 15vh;
}

.main-header-container {
  position: relative;
  top: -10vh;
  width: 85vw;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  padding-top: 20px;
  font-size: 16px;
  min-height: 30vh;
  z-index: 10;
}

.main-header-label {
  position: absolute;
  background-color: inherit;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  padding: 0 10px;
  top: 0.5em;
  color: var(--accent-secondary);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-bold);
  padding: 1em 0.25em;
  font-size: 2em;
  height: 30vh;
  overflow: hidden;
}

.main-header > * {
  font-family: var(--header-font);
}

#card-container {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card {
  display: flex;
  height: 17vh;
  overflow: hidden;
  gap: 5%;
  transition: all 0.35s ease-in-out, transform 0.1s ease-in-out;
  background-color: #e7e7e7;
  border-radius: 20px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  padding-right: 15px;
}

.card > figure,
.card > div {
  flex: 1;
}

.card.selected {
  height: 35vh;
  background-color: #f7f7f7;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
}

.card:active {
  transform: scale(0.99);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.long-desc {
  display: none;
}

.card.selected .long-desc,
.card.selected .go-to-container {
  display: block;
}

.card.selected .short-desc {
  display: none;
}

.card > header > h2 {
  font-size: 2em;
}

.card > div {
  margin-top: auto 0;
}

.card > figure {
  width: 100%;
}

.card .go-to-container {
  display: none;
  margin-top: 10px;
}

.card .go-to-container a {
  color: rgb(77, 77, 77);
}

@media (max-width: 1000px) {
  .main-header {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  .main-header {
    font-size: 1.75em;
  }
}

@media (max-width: 400px) {
  .main-header {
    font-size: 20px;
  }
  #card-container {
    padding: 1em 0;
  }
}
